<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>232678540428-lje04dj9vliro0gos0kknf625m5g9lu6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.232678540428-lje04dj9vliro0gos0kknf625m5g9lu6</string>
	<key>API_KEY</key>
	<string>AIzaSyDad6lbuY9vDfbMFdZfQ_XstvnCYOXi3Sc</string>
	<key>GCM_SENDER_ID</key>
	<string>232678540428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.RoommatesApp</string>
	<key>PROJECT_ID</key>
	<string>roommatesapp-9eed2</string>
	<key>STORAGE_BUCKET</key>
	<string>roommatesapp-9eed2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232678540428:ios:d2b63a2cca5efbba2767a9</string>
	<key>DATABASE_URL</key>
	<string>https://roommatesapp-9eed2.firebaseio.com</string>
</dict>
</plist>